// Fajl sa mixins funkcijama

@mixin title-style($color, $font, $tezina) {
	margin: 0 0 20px 0;
	font-family: $font-opensans;
	font-size: 20px;
	font-weight: bold;
	color: $color;
	text-transform: uppercase;
}