@import 'mixins';
@import 'variables';

p {
	color: $primary_color;
	font-size: 14px;
}
header {
	margin: 20px 0 30px 0;
	border-bottom: 4px solid #333;

	#logo {
	float: left;
	margin: 0 20px 0 0;

		img {
			display: block;
			opacity: .95;
			height: 100px;
		}
	}

	h1 {
		@include title-style($plava, $font-opensans, 600);
	}
}

a {
	font-weight: bold;
	text-decoration: none;
	color: red;
	border-bottom: 2px solid red;
	&:hover {
		color: maroon;
		border-color: maroon;
	}
	&:visited {
		color: black;
		border-color: none;
	}
}



li a {
	color: $plava;
	&.alert {
		color: $crvena;
	}
	&.success {
		color: $zelena;
	}
}



/* Ovo je komentar i ovo nece biti 
i ovo je komentar
odstampano*/

// Ovo je jedna linija komentara
