p {
  color: #1523fd;
  font-size: 14px; }

header {
  margin: 20px 0 30px 0;
  border-bottom: 4px solid #333; }
  header #logo {
    float: left;
    margin: 0 20px 0 0; }
    header #logo img {
      display: block;
      opacity: .95;
      height: 100px; }
  header h1 {
    margin: 0 0 20px 0;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #2b5dad;
    text-transform: uppercase; }

a {
  font-weight: bold;
  text-decoration: none;
  color: red;
  border-bottom: 2px solid red; }
  a:hover {
    color: maroon;
    border-color: maroon; }
  a:visited {
    color: black;
    border-color: none; }

li a {
  color: #2b5dad; }
  li a.alert {
    color: #b21537; }
  li a.success {
    color: #27871b; }

/* Ovo je komentar i ovo nece biti 
i ovo je komentar
odstampano*/

/*# sourceMappingURL=style.css.map */
